.box1{
    width:100px;
    height:100px;
    background-color: purple;
    position :relative;
    top:35px;
    left:30px
}
.box2{
    width:100px;
    height:100px;
    background-color:yellow;
    position :absolute;
    top:100px;
    left:50%;
}

.box3{
    width:100px;
    height:100px;
    background-color:red;
    float:left;
}

.box4{
    width:100px;
    height:100px;
    background-color:yellow;
    clear: left;
    float: right;
}

.box5{
    width:100px;
    height:100px;
    background-color:blue;
    float:left;
    clear:right;
}

.box6{
    width:100px;
    height:100px;
    background-color:pink;
    float:right;
    clear:left;
}

.box7{
    width:100px;
    height:100px;
    background-color:green;
    float:left;
    clear:right;
}
.box8{
    content: "ball";
    width:50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-left: 50%;
    animation-name: jumpingball;
    animation-iteration-count: infinite;  
    animation-duration: 2s;
}
@keyframes jumpingball {
    50%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(100px);
    }
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Box{
    width:150px;
    height:150px;
    
}
.box9{
    background-color: brown;
}

.box10{
    background-color: yellow;
}

.box11{
    background-color: blue;
}

.box12{
    background-color: pink;
}

.box13{
    background-color: purple;
}
@media screen and (max-width:360px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}